@media only screen and (max-width: 800px) {
    body > header h1 {
        background-color: rgb(129, 179, 194);
        text-transform: uppercase;
    } 
    nav ul {  /*not entirely working here... */
        background-color: black;
        
    }

}
